body
{
    width: 8.27in; 
    height: 11.69in;
    margin: 0 auto; 
    border: 1px solid black; 
    box-sizing: border-box;
    padding-top: 3%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5% ;
}

#bio
{
    line-height: 5mm;
    text-align: center;
    font-size: small;
}

.bio-container {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top-div {
  flex: 0.25;
  padding: 0px;
  font-size: small;
  text-align: center;
  line-height: 5mm;
}

.bottom-div {
  flex: 1;
  margin-top: 7px;
  font-size: small;
  text-align: center;

}

.bottom-div img {
  width: 40px; 
  height: auto; 
} 

.right-section {
  align-items: center;   
  flex: 1;
  width: 600px;
  height: auto;
}

.right-section img {
  width: 50px; 
  height: auto; 
} */

.right-section span {
  text-align: center;
  width: 600px;
}

.container {
  display: flex;
  align-items:center;
}

img {
  max-width: 35%;
  max-height: 35%;
}

#techstack
{
  padding-left: 20px;
  font-size: x-small;
}

#tech
{
  font-size: x-small;
}

#workexperience
{
  color: gray;
  font-size: small;
}

h4
{
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: smaller;
}

b
{
  font-size: smaller;
}

p
{
  margin-top: 1px;
  margin-bottom: 1px;
  font-size: x-small;
}

ul
{
  margin-top: 3px;
}

li
{
  font-size: x-small;
  margin-top: 3px;
}
